:root {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background: #f6f9ff; */
  background: #fff;
  color: #444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 50px;
  padding: 15px 20px 30px 20px;
  transition: all 0.3s;
}

@media (min-width: 1200px) {
  #main {
    margin-left: 250px;
  }
}

/*--------------------------------------------------------------
# ruler
--------------------------------------------------------------*/
hr {
  margin-block-start: 15px;
  margin-block-end: 15px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: rgb(13, 110, 253); /* #4154f1; */
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgb(13, 110, 253); /* #6776f4 */
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  font-size: 14px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px; 
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  transition: all 100ms ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 15px -4px rgba(0, 0, 0, .125), 0 24px 38px 0 rgba(0, 0, 0, .045), 0 9px 50px 0 rgba(0, 0, 0, .03);
}

.card-header {
  font-size: 14px;
  padding-left: 20px;
  font-weight: 600;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
}

.card-body {
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.card-footer {
  padding-left: 20px;
  padding-right: 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
} 

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  margin: 0px;
  font-size: 14px;
  color: #012970;
}

.breadcrumb a {
  color: #012970;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #005eff; /* #4154f1; */
}

.breadcrumb .breadcrumb-item::before {
  color: #012970;
}

.breadcrumb .active {
  color: #51678f;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 250px;
  }
}

.logo img {
  max-height: 26px;
  margin-left: 6px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 600;
  color: #012970;
}

.header {
  transition: all 0.5s;
  z-index: 999;
  height: 50px;
  background-color: #88c6f8;  /* #1983e7; */
  border-bottom: 1px solid #57a4f0;
  /* box-shadow: 0px 2px 10px rgba(1, 41, 112, 0.1); */
}

.header .toggle-sidebar-btn {
  height: 32px;
  width: 34px;
  border-radius: 3px;
  border: 1px solid #6c6e70;
  font-size: 22px;
  padding-left: 5px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #6c6e70; /*#012970; */
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: #fff;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 50px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 23px;
  color: #012970;
  margin-top: 6px;
  margin-right: 20px;
  position: relative;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
  padding: 5px 0 0 0;
}

.header-nav .notifications #notifSummary {
  font-size: 14px;
  font-weight: 800px;
  color: #444;
}

.header-nav .notifications #notifications {
  width: 400px;
  max-height: 550px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0px;
  margin: 0px; 
  scrollbar-width: thin;
  scrollbar-color: #88c6f8 transparent;
}

#notifications::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

#notifications::-webkit-scrollbar-thumb {
  background-color: #88c6f8;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 10px 0 0;
  font-size: 24px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #444;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
  right: -10px !important;
}

.header-nav .profile .dropdown-header {
  padding: 0px;
  margin: 0px 13px 10px 13px;
}

.header-nav .profile .rounded-circle {
  width: 60px;
  height: 60px;
}

.header-nav .profile .profile-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  text-align: left;
  color: #444;
  font-size: 14px;
  font-weight: 400;
}

.header-nav .profile .profile-info #txtUserName {
  font-weight: 600;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 1998;
  transition: all 0.3s;
  padding: 10px;
  overflow-y: auto;
  background-color: #fff;
  scrollbar-width: thin;
  scrollbar-color: #88c6f8 transparent;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .07);
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #88c6f8;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -250px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -250px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 3px;
}

.sidebar-nav .nav-heading {
  text-transform: uppercase;
  color: #899bbd;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #0248bf;
  transition: 0.3;
  padding: 6px 12px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 14px;
  margin-right: 10px;
}

.sidebar-nav .nav-link:hover, 
.sidebar-nav .nav-link.collapsed.active {
  color: #005eff;
  background-color: #cfe2ff;
}

.sidebar-nav .nav-link:hover i,
.sidebar-nav .nav-link.collapsed.active i {
  color: #005eff /* #4154f1;*/
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #0248bf;
  transition: 0.3;
  padding: 5px 10px 5px 35px;
  margin: 3px 0;
  transition: 0.3s;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #005eff; /* #4154f1; */
  background-color: #cfe2ff;
  border-radius: 4px;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a.active i {
  background-color: #005eff; /* #4154f1; */
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@media (min-width: 1200px) {
  #footer {
    margin-left: 250px;
  }
}

.footer {
  padding: 8px 0px;
  font-size: 12px;
  border-top: 1px solid rgba(0,0,0,.08);
  background-color: #fff; /* #f9f9f9; */
}
    
.footer .copyright {
  width: 100%;
  text-align: center;
  color: #012970;
}

/*--------------------------------------------------------------
# accordion
--------------------------------------------------------------*/
.accordion {
  font-size: 14px;
}

.accordion-button {    
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #e7f1ff !important;
}

.veil {
  position: fixed; 
  z-index: 99999; 
  height: 100%; 
  width: 100%; 
  top: 0; 
  left:0; 
  background-color: Black; 
  filter: alpha(opacity=60); 
  opacity: 0.6; 
  -moz-opacity: 0.8;
  display: none
}

/*--------------------------------------------------------------
# FORM
--------------------------------------------------------------*/
form textarea {
  height: 100px;
}

form input {
  font-size: 13px;
}

input[readonly="true"] {
  background-color: rgb(243, 243, 243);
}

form .disclaimer {
  height: 150px;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*--------------------------------------------------------------
# Demo List
--------------------------------------------------------------*/
#mainContent .alert, #demoListInfo .alert {
  font-size: 15px;
  height:  42px; 
  padding: 8px 12px;
}

/*--------------------------------------------------------------
# Combo Dropdown List
--------------------------------------------------------------*/
.combo {
  display: block;
  position: relative;
}

.open .form-select {
  border-radius: 4px 4px 0 0;
}

.combo-menu {
  background-color: #f5f5f5;
  border: 1px solid rgba(107, 107, 107, 0.42);
  border-radius: 0 0 4px 4px;
  display: none;
  max-height: 280px;
  overflow-y: scroll;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2500;
}

.open .combo-menu {
  display: block;
  padding: 0px 0px;
  outline: 0;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.combo-option {
  list-style-type: none;
  padding: 8px 12px;
  margin: 2px 0px;
}

.combo-option.option-current,
.combo-option:hover {
  color: white;
  background-color: #3381f8;
}

.combo-option.option-selected {
  padding-right: 15px;
  position: relative;
}

.combo-option.option-selected::after {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  content: '';
  height: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  width: 8px;
}

.selected-options {
  list-style-type: none;
  margin: 0;
  max-width: 400px;
  padding: 0;
}

.selected-options li {
  display: inline-block;
  margin-bottom: 5px;
}
